* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
html, body {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    background-color: rgb(43, 43, 43);
    color: white;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: grid;
    grid-template-areas:
        'options options'
        'files editor'
        'files console';
    grid-template-rows: 70px auto 200px;
    grid-template-columns: 300px auto;
}
main .options {
    grid-area: options;
    text-align: right;
    background-color: rgb(96, 96, 96);
    display: flex;
    align-items: center;
    justify-content: stretch;
    border-bottom: 1px solid rgb(63, 63, 63);
}
main .options .wrapper {
    flex-grow: 1;
}
main .files {
    grid-area: files;
    background-color: rgb(63, 63, 63);
}
main .editor {
    grid-area: editor;
}
main .console {
    grid-area: console;
    border-top: 1px solid rgb(63, 63, 63);
    background-color: black;
    overflow: auto;
    display: flex;
    justify-content: stretch;
}
main .console textarea {
    flex-grow: 1;
    background: none;
    border: none;
    padding: 18px;
    resize: none;
    outline: none;
    color: inherit;
    font-size: inherit;
    font-family: 'Ubuntu Mono', monospace;
}

.mtbutton {
    display: inline-block;
    padding: 12px 22px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
    color: white;
    text-transform: uppercase;
    background-color: #000d72;
    border: 1px solid #000d72;
    border-radius: 2px;
    margin: 6px;
    outline: none;
    cursor: pointer;
    font-family: inherit;
    transition: all 0.3s;
    font-size: 16px;
    text-decoration: none;
}
.mtbutton:hover {
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.12), 0 8px 8px 0 rgba(0,0,0,0.24);
    background-color: #0b1a8a;
}
.mtbutton:disabled {
    background-color: gray;
    color: black;
}
.mtbutton i {
    font-size: inherit;
    line-height: inherit;
    transform: translate(0, -5%);
}
.mtbutton i, .mtbutton span {
    vertical-align: middle;
}

.mtbutton.secondary {
    background: none;
    border-color: gray;
    color: inherit;
}

.mtinput {
    padding: 10px 12px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 2px;
    margin: 6px;
    outline: none;
    font-family: inherit;
    transition: all 0.3s;
    font-size: 16px;
    background-color: rgb(73, 73, 73);
    border: 2px solid rgb(21, 21, 21);
    color:  white;
}
.mtinput.fullwidth {
    display: block;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

a {
    color: inherit;
    text-decoration: underline;
}